.notes-container {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  font-family: sans-serif;
  width: 100%;

  .notes-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .notes-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .tags-form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .notes-add-button {
      display: inline-block;
      padding: 10px;
      height: 30px;
      background-color: #007bff;
      color: #fff;
      border-radius: 5px;
      font-size: 1.2rem;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

    }

    .notes-add-button:hover {
      background-color: #0056b3;
    }
  }


  .notes-list {
    padding: 0;
    list-style-type: none;
  }
}
